// global variables
$color = #433a80

$text-shadow-red = 0 0 4px rgb(238, 9, 44)
$text-shadow-primary = 0 0 4px rgb(138, 58, 182)

$box-shadow = 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)

$nav-height=72px
$side-width=180px
